*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.barra {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 14px;
}

.nav-logo {
  height: 72px;
}

.barra-menu {
  display: flex;
  gap: 32px;
}

.barra-menu-item {
  font-family: 'Sarala', sans-serif;
  color: darkblue;
  font-weight: 400;
  font-size: 18px
}


.trailer-video {
  width: 100%;
  height: 100%;
}